.card {
    order: 1;
    margin: 4px 8px;
    padding: 16px 12px;

    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 0.8px 1.2px hsl(0deg 0% 53% / 0),
        0px 3.4px 5.1px hsl(0deg 0% 53% / 0.62);
}

.locked {
    background-color: #dfff00;
}
